/*
===============================================
Copyright 2010-2020 Mentor Graphics Corporation

   All Rights Reserved.

THIS WORK CONTAINS TRADE SECRET
AND PROPRIETARY INFORMATION WHICH IS THE
PROPERTY OF MENTOR GRAPHICS
CORPORATION OR ITS LICENSORS AND IS
SUBJECT TO LICENSE TERMS.
===============================================
*/

body {
  background-color: #FFFFFF;
  color: Black;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 13px;   
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* body tag for noscript situations */
.noscript_body {
  color: #817134;
  font-family: Verdana, Arial, Tahoma, sans-serif;
  font-size: 0.9em;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.noscript_div {
  background-color: #FFF6BF;
  padding: 0;
  padding: 6px;
  border: 2px solid red;
  margin-top: 4px;
  border-radius: 5px 5px;
}

.toc_body {
  font-size: 0.7em;
  background-color:#E8EEF2;
}

/* LINKS */
a, a:link, a:active, a:visited {
  /*color: #2652A2;*/
  color: #009999;
  text-decoration: none;
}
a:hover   {
  /*color: blue;*/
  color: #EC6602;
  text-decoration: underline;
}
