/*
===============================================
Copyright 2010-2020 Mentor Graphics Corporation

   All Rights Reserved.

THIS WORK CONTAINS TRADE SECRET
AND PROPRIETARY INFORMATION WHICH IS THE
PROPERTY OF MENTOR GRAPHICS
CORPORATION OR ITS LICENSORS AND IS
SUBJECT TO LICENSE TERMS.
===============================================
*/

body {
    background: none repeat scroll 0 0 #E8EEF2;
    color: Black;
    font-family: Verdana,Arial,Tahoma,sans-serif; 
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    background-color: #ffffff;
    text-align: left;
    color: black;
    margin: 0px;
    padding: 0px;
}

body.header {
    margin: 0px;
    padding: 0px;
    background: #E8EEF2;
}

/* layout */
#header {
    /*height: 80px;*/
    position: absolute;
    top: 0;
    right: 0px;
    /*background-color: #E8EEF2;*/
    overflow: hidden;
    height: 82px;
}

#sidebar {
    /* width: should match .fw_size left */
    width: 26%;
    /*min-width: 250px;*/
    min-width: 350px;
    max-width: 50%;
    position: absolute;
    top:0px;
    bottom: 0px;
    overflow: hidden;
    /*background-color: #E8EEF2;*/
    background-color: #fff;
}

#main {
    position: absolute;
    top: 82px;
    bottom: 19px;
    right: 0;
}

#footer {
    height: 18px;
    bottom: 0;
    right: 0;
    position: absolute;
    min-width: 20px;
    max-width: 85%;
    position: absolute;
    /*background-color: #E8EEF2;*/
    /*border-top: 2px solid #416E98;*/
    border-top: 2px solid #A9BDC6;
    padding-left: 8px;
    background-color: #f3f3f3;
}

#footer a {
    /*color: #2652A2;*/
    color: #333;
    text-decoration: none;
    font-size: 0.9em;
}

#footer a:hover {
    /*color: blue;*/
    color: #900;
    text-decoration: underline;
}

#TopicFrame {
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 99;
}

.fw_size {
    /* left: should match #sidebar width */
    left: 26%;
    min-width: 420px;
}

/* common styles */
a:link {
    /*color: #2652A2;*/
    color: #009999;
    text-decoration: none;
}

a:active {
    /*color: #2652A2;*/
    color: #EC6602;
    text-decoration: none;
}

a:hover {
    /*color: blue;*/
    color: #EC6602;
    text-decoration: underline;
}

a:visited {
    /*color: #2652A2;*/
    color: #009999;
    text-decoration: none;
}

table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table td, table th {
    padding: 0;
}

.noborder {
    border: 0;
}

.center {
    text-align: center;
}

/* toolbar */
#toolbar {
    background-color: #fff;
    /*background-image: url('../images/splash_screen_thin.gif');*/
    /*height: 47px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 3px;
    display: block;*/
    /* background: #EDEFF1 url(../images/siemens/siemens_banner.png) no-repeat; */
    height: 37px;
    padding: 6px 0px 6px 6px; 
}

/*#toolbar-right {
    margin-top: 3px;
}
#toolbar-right a {
    text-decoration: none;
}*/

.button-right {
    margin-left: 3px;
    margin-right: 3px;
    /*height: 22px;*/
    width: 25px;
    height: 25px;
    float: right;
    /*margin-top: 6px;*/
}

.button-left {
    /*margin-top: 6px;
    margin-left: 1px;
    margin-right: 1px;
    height: 22px;*/
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

/*.button-padding{
    padding-top: 6px;
}*/

div.CLOSEButton {
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 3px;
    height: 22px;
    width: 25px;
    float: left;
    background: url('../images/close_x.png') no-repeat;
}

div.PDFButton {
    /*background: url('../images/pdf.png');*/
    background: url('../images/disw/pdf.png') no-repeat center;
    background-color: #EDEFF1;
    cursor: pointer;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
}

div.PrintButton {
    /*background: url('../images/print.png');*/
    background: url('../images/disw/print.gif') no-repeat center;
    background-color: #EDEFF1;
    cursor: pointer;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
}

/*div.PrintButton:focus {
    background: url('../images/print_h.png');
}*/

/*div.TABSButton {
    margin-right: 8px;
    background: url('../images/frameset_x.png');
}
div.TABSButton:hover {
    background: url('../images/frameset_x_h.png');
}

div.TABSButtonX {
    background: url('../images/frameset.png');
    margin-right: 8px;
}
div.TABSButtonX:hover {
    background: url('../images/frameset_h.png');
}*/

div.TABSButton, div.TABSButtonX{
    background: url('../images/disw/book.gif') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background-color: #EDEFF1;
    color: #900;
    cursor: pointer;
    margin-top: 4px;
}

/*div.PrevButton {
    background: url('../images/prev.png');
}
div.PrevButton:hover {
    background: url('../images/prev_h.png');
}
div.PrevButtonX {
    background: url('../images/prev_x.png');   
}
div.PrevButtonX:hover {
    background: url('../images/prev_x.png');
}
div.NextButton {
    background: url('../images/next.png');
}
div.NextButton:hover {
    background: url('../images/next_h.png');
}
div.NextButtonX {
    background: url('../images/next_x.png');
}
div.NextButtonX:hover {
    background: url('../images/next_x.png');
}*/

div.PrevButton, div.PrevButtonX, div.NextButton, div.NextButtonX, .SearchPrevButton, .SearchPrevButtonX, .SearchNextButton, .SearchNextButtonX, div.IndexLetterBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background: #EDEFF1;
    font-size: 14px;
    font-weight: bold;
    color: #009999 !important;
    cursor: pointer;
    font-family: Arial,Tahoma,Sans-serif;
}
div.PrevButton, div.PrevButtonX, div.NextButton, div.NextButtonX, div.PDFButton, div.PrintButton, #manuals_button, #feedback_button {
    margin-top: 4px;
}
div.PrevButtonX, div.NextButtonX, .SearchPrevButtonX, .SearchNextButtonX{
    color: #ccccd4 !important;
    cursor: default;
}
div.PrevButton:hover, div.NextButton:hover, div.SearchPrevButton:hover, div.SearchNextButton:hover, div.SubmitSearch:hover, div.TABSButton:hover, div.TABSButtonX:hover, div.HomeButton:hover, .sidearrowsmall:hover, .sidearrowsmallx:hover, #manuals_button:hover, #feedback_button:hover, #advanced_search_button:hover, #search_tips_button:hover, #refine_search_button:hover, #close_button:hover, #ApplyFilterButton:hover, div.PDFButton:hover, div.PrintButton:hover, div.IndexLetterBtn:hover,  #pdflink_open_button:hover, #pdflink_cancel_button:hover{
    border-color: #009999;
    color: #EC6602 !important;
    box-shadow: inset 0 0 5px #e5e5e9;
    text-decoration: none !important;
}
div.PrevButton:active, div.NextButton:active, div.SearchPrevButton:active, div.SearchNextButton:active, div.SubmitSearch:active, div.TABSButton:active, div.TABSButtonX:active, div.HomeButton:active, .sidearrowsmall:active, .sidearrowsmallx:active, #manuals_button:active, #feedback_button:active, #advanced_search_button:active, #search_tips_button:active, #refine_search_button:active, #close_button:active, #ApplyFilterButton:active, div.PDFButton:active, div.PrintButton:active, div.IndexLetterBtn:active, #pdflink_open_button:active, #pdflink_cancel_button:active, div.HighlightButton:active, div.HighlightButton_s:active{
    box-shadow: inset 1px 1px 3px #e5e5e9;
    color: #EC6602;
}
div.PrevButton:focus, div.PrevButtonX:focus, div.PrintButton:focus, div.PDFButton:focus, div.NextButton:focus, div.NextButtonX:focus, div.SearchPrevButton:focus, div.SearchPrevButtonX:focus, .SearchNextButton:focus, .SearchNextButtonX:focus, .SubmitSearch:focus, div.TABSButton:focus, div.TABSButtonX:focus, div.HomeButton:focus, .sidearrowsmall:focus, .sidearrowsmallx:focus, #manuals_button a:focus, #feedback_button a:focus, #advanced_search_button a:focus, #search_tips_button a:focus, #refine_search_button a:focus, #close_button a:focus, #ApplyFilterButton a:focus, #query:focus, div.IndexLetterBtn:focus, #pdflink_open_button:focus, #pdflink_cancel_button:focus, div.HighlightButton:focus, div.HighlightButton_s:focus{
    outline: 0px;
}

div.PrevButton, div.PrevButtonX, div.NextButton, div.NextButtonX {
    width: 80px;
    font-size: 12px;
    font-weight: bold;
}
.SearchPrevButton, .SearchPrevButtonX, .SearchNextButton, .SearchNextButtonX{
    height: 25px;
    font-size: 12px;
}

.MGCLogoButton {
    /*padding-top: 3px;
    padding-left: 5px;
    padding-right: 12px;
    height: 44px;
    width: 122px;*/
    height: 28px;
    width: 156px;
    /*float: left;*/
    /*background: url('../images/logo-white.svg') 50% 50% no-repeat;*/
    /*background-size: 122px 35px;*/
    /*background-color:#2658A6;*/
    background: url('../images/disw/sie-logo-petrol-rgb.png')no-repeat;
    background-size:contain;
}
#MGCLnk{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    padding-right: 10px;
}

div.HomeButton {
    /*background: url('../images/home.png');*/
    background: url('../images/disw/home.gif') no-repeat center;
    height: 30px;
    width: 30px;
    /*position: absolute;*/
    /*top: 53px;*/
    /*left: 5px;*/
    margin: 0 15px 0px -1px;
    /*border: 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background-color: #EDEFF1;
    cursor: pointer;
}
/*div.HomeButton:hover {
    background: url('../images/home_h.png');
}*/

.options {
    margin: 0px;
}

#manuals_button, #feedback_button, #advanced_search_button, #search_tips_button, #refine_search_button, #close_button, #ApplyFilterButton {
    font-family: Arial,Tahoma,Sans-serif;
    /*background: url("../images/doc_button_left.png") no-repeat scroll 0 0 transparent !important;
    color: #013D75 !important;*/
    cursor:pointer;
    font-weight:bold;
    /*padding-left: 5px;
    padding-right: 4px;
    padding-top: 0px;*/
    /*height: 22px;*/
    height: 25px;
    /*overflow: hidden !important;*/
    font-size: 12px;
    /*float: right;*/
    float: left;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background: #EDEFF1;
    color: #009999;
    padding: 0px 5px;
    /* margin: 0px 3px; */
    margin-right: 3px;
    margin-left: 3px;
}
#manuals_button, #feedback_button {
    height: 30px;
}

#FeedbackSpan:hover {
    color: #EC6602 !important;
}

/*#manuals_button span, #feedback_button span, #advanced_search_button span, #search_tips_button span, #refine_search_button span, #close_button span, #ApplyFilterButton span {
    background: url("../images/doc_button.png") no-repeat scroll 100% 0 transparent !important;
    color: #013D75 !important;
    padding: 2px 9px 5px 0 !important;
    line-height: 19px;
    display:block !important;
    float: left;
    text-decoration: none !important;
}*/
#manuals_button:link, #manuals_button > a, #feedback_button:link, #feedback_button > a, #advanced_search_button:link, #search_tips_button:link, #refine_search_button:link, #close_button:link, #ApplyFilterButton:link{
    text-decoration: none !important;
}

/*#manuals_button:hover span, #feedback_button:hover span, #advanced_search_button:hover span, #search_tips_button:hover span, #refine_search_button:hover span, #close_button:hover span, #ApplyFilterButton:hover span {
    color:#000000 !important;
    background-position: 100% -22px !important;
    cursor:pointer;
    text-decoration: none !important;
    padding: 2px 9px 5px 0 !important;
    line-height: 19px;
    display:block !important;
    float: left;
}*/

/*#refine_search_button:active, #ApplyFilterButton.disabled {
    background-position:0 -66px !important;
}*/

#refine_search_button:active span, #ApplyFilterButton.disabled span{
    /*background-position:100% -66px !important;*/
    color:grey !important;
    border-color: #767e88;
}
#ApplyFilterButton.disabled:hover{
    border-color: #767e88;
    box-shadow: 1px 1px 3px #e5e5e9;
    cursor: default;
}

table.Breadcrumb {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    background: #e5e5e9;
}

td.Breadcrumb {
    font-size: 1.0em;
    height:33px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    /*border: 0px solid black;*/
    border:none;
}

#Breadcrumb {
    margin: 0 8px 0 10px;
    padding: 0;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #009999;
}

#Breadcrumb a, #Breadcrumb a:link, #Breadcrumb a:visited{
    color: #009999;
    margin: 0px 5px;
}
#Breadcrumb a:hover{
    color: #EC6602;
}
/*#Breadcrumb href {
    color: #2652A2;
}
#Breadcrumb href:hover{
    color: #900;
}*/

#resize_td_container {
    width: 134px;
    visibility: hidden;
}

#resize_button {
    background-color: white;
    border: 1px solid #DDD;
    z-index: 2;
    float: right;
    padding: 0 0 0 6px;
    margin-right: 6px;
    width: 112px;
    height: 18px;
}

.resize_buttons {
    width: 19px;
    height: 18px;
    border: 0px;
}

.resize_buttons:hover {
    background-color: #EEEEEE;
}

#LibListLibrary {
    position: absolute;
    top: 40px;
    /*right: 147px;*/
    left: calc(50% - 170px);
    display: none;
    z-index: 3;
    background-color: white;
}

#LibListLibraryContents {
    /*height: 358px;*/
    height: 365px;
    width: 339px;
    /*border: 2px solid #416E98;*/
    border: 2px solid #A9BDC6;
}

#LibListTitle {
    /*color: #416E98;*/
    color: #039999;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    /*background: #E8EEF2;*/
    background: #F3F3F3;
    /*border-bottom: 2px solid #416E98;*/
    border-bottom: 2px solid #A9BDC6;
    height: 21px;
}

#LibListLibraryLinks {
    margin: 0;
    overflow: auto;
    height: 306px;
}

.LibListLibraryIndent {
    margin: 4px 4px 8px -2px;
}

.LibListLibraryIndent li {
    margin: 2px 0;
}

#InfoHubLibListLink{
    padding: 2px 4px;
    font-size: 1em;
    /*border-top: 2px solid #416E98;*/
    border-top: 2px solid #A9BDC6;
    /*background: #E8EEF2;*/
}

#LibListClose {
    /*margin-right:0px;*/
    margin-top: 2px;
    background: #F3F3F3;
}

/* sidebar */
#dragbar {
    /*background-color: #A8AEB2;*/
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    width: 1px;
    cursor: col-resize;
    /*border-left: 1px solid #416E98;*/
    /*border-right: 1px solid #416E98;*/
    border-left: 1px solid #A9BDC6;
    border-right: 1px solid #A9BDC6;
    z-index: 2;
}

#dragdetector {
    width: 100%;
    height: 100%;
    z-index: -1;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
}

#midarrow {
    position: absolute;
    top: 47%;
    left: 0;
}

.sidearrowsmall, .sidearrowsmallx {
    /*background: url('../images/expand.png');*/
    background: url('../images/disw/arrow2_right.gif') no-repeat center;
    height: 22px;
    width: 13px;
    display: none;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background-color: #fff;
    cursor: pointer;
}

/*.sidearrowsmallx {
    background: url('../images/expand_h.png');
    height: 22px;
    width: 12px;
    display: none;
}*/

.HRBarTop {
    clear: both;
    width: 100%;
    height: 2px;
    background-color: #416E98;
    position: relative;
    top: 14px;
}

.DocTitleContainer {
    display: block;
    height: 33px;
    overflow: hidden;
    clear: both;
    /*border-bottom: 2px solid #416E98;*/
    background: #e5e5e9;
}

.DocTitleTable {
    display: table;
    height: 33px;
    width: 100%;
    border: 0;
}

.DocTitleRow {
    display: table-row;
}

.DocTitle {
    display: table-cell;
    margin: 0;
    padding: 0 8px;
    font-size: 1.0em;
    font-weight: bold;
    vertical-align: middle;
}

.DocTitle a {
    margin-right: 10px;
}

.DocTitle a, .DocTitle a:link, .DocTitle a:active, .DocTitle a:visited {
    /*color: #2652A2;*/
    /* color: #5E82A3; */
    text-decoration: none;
}

/* tabs */
#tabs {
    border-bottom: 10px solid #2658A6 !important;
}

#tabContainerDiv {
    min-width: 220px;
    clear: both;
}

ul.tabs {
    list-style-type: none;
    margin: 23px 0 0 0;
    padding: 0;
    width: 220px;
    float: left;
}

li.fg_tab, li.bg_tab {
    display: inline;
    list-style-type: none;
    margin-right: -1px;
    float: left;
}

a.fg_tab, a.fg_tab:link, a.fg_tab:visited, a.fg_tab:active, a.fg_tab:hover {
    /*background: url("../images/bg_tab_primary_s.png") no-repeat scroll 100% 0 #2658A6;*/
    background: #e5e5e9;
    font-family: Arial, Tahoma, Sans-serif;
    font-weight: bold;
    font-size: 12px;
    /*color: white;*/
    color: #000;
    overflow: hidden;
    cursor: default;
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 5px 14px 0 14px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    /*border-bottom: 1px solid #A9BDC6;*/
    border: 1px solid #767e88;
    border-bottom: none;
    margin-left:5px;
}

a.fg_tab:focus{
    outline: 0px;
}

span.fg_tab {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

a.bg_tab, a.bg_tab:link, a.bg_tab:visited, a.bg_tab:active, a.bg_tab:hover {
    /*background: url('../images/bg_tab_primary.png') no-repeat scroll 100% 0;*/
    /*border-left: 1px solid #A9A9A9;*/
    background: #F3F3F3;
    border: 1px solid #767e88;
    border-bottom: none;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family: Arial, Tahoma, Sans-serif;
    font-weight: bold;
    font-size: 12px;
    /*color: #2658A6;*/
    color: #009999;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 5px 14px 0 14px;
    margin-left:5px;
}

a.bg_tab:hover {
    font-size: 12px;
    /*border-left:1px solid #A9A9A9;*/
    /*background: url('../images/bg_tab_primary_h.png') no-repeat scroll 100% 0 #E28769;*/
    color:#EC6602 !important;
    text-decoration:none;
}
a.bg_tab:focus{
    outline: 0px;
}

span.bg_tab {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

a.no_tab, a.no_tab:link, a.no_tab:visited, a.no_tab:active, a.no_tab:hover {
    background: url('../images/bg_tab_primary.png') no-repeat scroll 100% 0;
    border-left: 1px solid #A9A9A9;
    font-family: Arial, Tahoma, Sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #AAAAAA;
    overflow: hidden;
    cursor: default;
    text-decoration: none;
    display: block;
    height: 20px;
    padding: 5px 14px 0 14px;
}

.TabBottomLine {
    width: 100%;
    height: 9px;
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    /*background-color: #2658A6 !important;*/
    background-color: #f3f3f3;
    border: 0;
    float: left;
}

.TabCloseOuter {
    border: 0;
    width: 16px;
    background-color: transparent;
    padding: 0;
    margin-top: 6px;
    margin-bottom: 0;
    /*margin-right: 2px;*/
    margin-right: 10px;
    float: right;
}

.CloseTabsButton {
    /*background: url("../images/close.png") no-repeat scroll 0 0 transparent !important;*/
    background: url('../images/disw/red_x_transparent.gif') no-repeat center;
    background-color: #EDEFF1;
    height: 15px;
    width: 15px;
    /*cursor: default;*/
    font-weight: bold;
    /*padding-left: 0;*/
    /*margin-right: 0;*/
    /*padding-top: 2px;*/
    /*padding-right: 2px;*/
    overflow: hidden !important;
    cursor: pointer;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    margin-top: 3px;
}
.CloseTabsButton:active{
    box-shadow: inset 1px 1px 3px #EDEFF1;
}
.CloseTabsButton:hover {
    /*background: url("../images/close_h.png") no-repeat scroll 0 0 transparent !important;*/
    /*height: 15px;*/
    /*cursor: default;*/
    /*font-weight: bold;*/
    /*padding-left: 0px;*/
    /*margin-right: 0px;*/
    /*padding-top: 2px;
    padding-right: 2px;*/
    /*overflow: hidden !important;*/
    border-color: #EC6602;
}
.CloseTabsButton:focus{
    outline: 0px;
}

#sidebarContent {
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    width: 99%;
}

#sidebarTOC {
    margin: 1em 1em 2em 1em;
}

/* Topics */
a.TOClink, a.TOClink:link, a.TOClink:active, a.TOClink:visited {
    background-color: Transparent;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*color: #2652A2;*/
    color: #333;
    text-decoration: none;
}

a.TOClink:hover {
    background-color: Transparent;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*color: blue;*/
    color: #EC6602;
    text-decoration: underline;
}

a.TOClink.TOCHighlight {
    background-color: #D5DBDF;
}

a.TOCdoc, a.TOCdoc:link, a.TOCdoc:active, a.TOCdoc:visited {
    background-color: Transparent;
    /*background: url('../images/doc.png') left top no-repeat;*/
    background: url('../images/disw/arrow1_right.gif') no-repeat center;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*color: #2652A2;*/
    color: #333;
    text-decoration: none;
}
/*a.TOCdoc:hover {
    background-color: Transparent;
    background: url('../images/doc_h.png') left top no-repeat;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: blue;
    color: #900;
    text-decoration: none;
}*/

a.TOCplus, a.TOCplus:link, a.TOCplus:active, a.TOCplus:visited {
    background-color: Transparent;
    /*background: url('../images/plus.png') left top no-repeat;*/
    background: url('../images/disw/arrow2_right.gif') no-repeat center;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*color: #2652A2;*/
    color: #333;
    text-decoration: none;
}
/*a.TOCplus:hover {
    background-color: Transparent;
    background: url('../images/plus_h.png') left top no-repeat;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: blue;
    text-decoration: none;
}*/

a.TOCminus, a.TOCminus:link, a.TOCminus:active, a.TOCminus:visited {
    background-color: Transparent;
    /*background: url('../images/minus.png') left top no-repeat;*/
    background:url('../images/disw/arrow2_down.gif') no-repeat center;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*color: #2652A2;*/
    color: #333;
    text-decoration: none;
}
/*a.TOCminus:hover {
    background-color: Transparent;
    background: url('../images/minus_h.png') left top no-repeat;
    padding-left: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: blue;
    text-decoration: none;
}*/

p.pMGCtoc1 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 20px;
    text-indent: -20px;
}

p.pMGCtoc2 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 40px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc3 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 60px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc4 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 80px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc5 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 100px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc6 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 120px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc7 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 140px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc8 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 160px;
    text-indent: -20px;
    display: none;
}

p.pMGCtoc9 {
    font-size: 1.0em;
    margin-top: 3pt;
    margin-bottom: 1pt;
    margin-left: 180px;
    text-indent: -20px;
    display: none;
}


/* Index */
#IndexLetters {
    /*padding: 4px 10px 4px 30px;*/
    padding: 5px;
    border-bottom: 2px solid #BCD;
    display: flex;
    justify-content: center;
}

.ScrollListLetters {
    /*background-color: #E8EEF2;*/
    position: absolute;
    /*top: 152px;*/
    top: 175px;
    bottom: 0px;
    /*width: 99%;*/
    width: 100%;
    display: block;
    overflow: auto;
    padding-bottom: 2em;
}
div.IndexLetterBtn{
    padding: 2px 7px;
    margin: 2px 5px;
}

/*div.IndexLetterBtn {
    background: url("../images/index_letters.png") no-repeat scroll 0 0 transparent;
    color: #013D75;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: bold;
    height: 18px;
    margin: 2px;
    padding-top: 1px;
    width: 18px;
    text-align: center;
}
div.IndexLetterBtn:hover {
    background: url("../images/index_letters_h.png") no-repeat scroll 0 0 transparent;
}*/

p.pMGCindextitle1 {
    font-size: 1.0em;
    color: #666666;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 30px;
    text-indent: -20px;
}

p.pMGCindextitle2 {
    font-size: 1.0em;
    color: #666666;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 50px;
    text-indent: -20px;
}

p.pMGCindextitle3 {
    font-size: 1.0em;
    color: #666666;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 70px;
    text-indent: -20px;
}

p.pMGCindexSection {
    font-size: 1.2em;
    /*color: #013D75;*/
    color: #fff;
    font-weight: bold;
    margin: 15px 0px 5px 0px;
    /*border-top: 2px solid #416E98;*/
    background-color: #BBCCDD;
    text-align: center;
}

p.pMGCindex1 {
    font-size: 1.0em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 30px;
    text-indent: -20px;
}

p.pMGCindex2 {
    font-size: 1.0em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 50px;
    text-indent: -20px;
}

p.pMGCindex3 {
    font-size: 1.0em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 70px;
    text-indent: -20px;
}

p.pMGCindex4 {
    font-size: 1.0em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 90px;
    text-indent: -20px;
}

#sidebarIndex a, #sidebarIndex a:link, #sidebarIndex a:active, #sidebarIndex a:visited,.SearchTipsText a,.SearchTipsText a:link,.SearchTipsText a:visited,.SearchTipsText a:active {
    /*color: #2652A2;*/
    color: #009999;
    text-decoration: none;
}

#sidebarIndex a:hover,.SearchTipsText a:hover {
    /*color: blue;*/
    color: #EC6602;
    text-decoration: underline;
}

#sidebarIndex, #sidebarSearch {
    display: none;
}

/* Search */
#QSearchForm {
    /*margin-top: 2px;*/
    float: left;
}

#SearchInputDiv table {
    width:98%;
    margin-left: 5px;
    min-width: 200px;
    border-bottom: 4px solid transparent;
}

p.Search {
    min-width: 135px;
}

#QuickSearchDiv {
    margin-top: 6px;
    margin-bottom: 7px;
    height: 31px !important;
    overflow: hidden;
    min-width: 400px;
    display: flex;
    align-items: center;
}

#query {
    /*background: url('../images/bg_search.png') no-repeat;*/
    font-size: 1em;
    color: #778899;
    width: 200px ;
    height: 23px;
    /*padding-left: 23px;*/
    padding-left:10px;
    /*margin-left: 3px;*/
    margin-left: 9px;
    margin-bottom: 0px;
    vertical-align: middle;
    font-style: normal;
    /*border: 0;*/
    border: 1px solid #676769;
}


.SubmitSearch {
    font-size: 1.00em;
    font-weight: bold;
    width: 55px;
    height: 25px;
    /*vertical-align: middle;*/
    font-style: normal;
    margin-left:5px;
    margin-right:5px;
    /*background: url('../images/go_search.png') no-repeat;*/
    /*background: url('../images/siemens/search.png') no-repeat center;*/
    color: #009999;
    float: left;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background-color: #EDEFF1;
}

.SubmitSearch:hover {
    /* background: url('../images/go_search_h.png') no-repeat; */
    color: #EC6602;
}

.SearchTipsText {
    float: left;
    margin-left: 10px;
    margin-top: 0;
}

div.HRule1White {
    clear: both;
    width: 98%;
    height: 4px;
    border: 0px solid #416E98;
    background-color: #FFFFFF;
    float:left;
    margin-top:3px;
    margin-bottom:3px;
    margin-left:3px;
    margin-right:3px;
    position: relative;
}

td.mgcQSiconL, td.mgcQSiconR{
    width: 85px;
    padding-right: 6px;
}

/*td.mgcQSiconL {
    margin: 0;
    padding-right: 2px;
    width: 20px;
    height: 15px;
    vertical-align: middle;
    text-align: right;
}
td.mgcQSiconR {
    margin: 0;
    padding-left: 0px;
    width: 20px;
    height: 15px;
    vertical-align: middle;
    text-align: left;
}*/

div.HighlightButton {
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 1px;
    /*height: 22px;*/
    height: 25px;
    width: 25px;
    /*border: 0;*/
    float: left;
    /*background: url('../images/highlight.png') no-repeat;*/
    background: url('../images/disw/icon_highlight_off.png') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background-color: #EDEFF1;
    cursor: pointer;
}

div.HighlightButton:hover, div.HighlightButton_s:hover{
    float: left;
    /*background: url('../images/highlight_h.png') no-repeat;*/
    border-color: #900;
    box-shadow: inset 0 0 5px #e5e5e9;
}

div.HighlightButton_s {
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 1px;
    /*height: 22px;*/
    height: 25px;
    width: 25px;
    /*border: 0;*/
    float: left;
    /*background: url('../images/highlight_s.png') no-repeat;*/
    background: url('../images/disw/icon_highlight_on.png') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background-color: #EDEFF1;
    cursor: pointer;
}

 /*div.HighlightButton_s:hover {
    float: left;
   background: url('../images/highlight_h.png') no-repeat;
}*/

/*div.SearchPrevButton {
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    height: 22px;
    width: 25px;
    border: 0px solid black;
    float: left;
    background: url('../images/searchprev.png') no-repeat;
}
div.SearchPrevButton:hover {
    float: left;
    background: url('../images/searchprev_h.png') no-repeat;
}
div.SearchPrevButtonX {
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    height: 22px;
    width: 25px;
    border: 0px solid black;
    float: left;
    background: url('../images/searchprev_x.png') no-repeat;
}
div.SearchPrevButtonX:hover {
    float: left;
    background: url('../images/searchprev_x.png') no-repeat;
}
div.SearchNextButton {
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    height: 22px;
    width: 25px;
    border: 0px solid black;
    float: left;
    background: url('../images/searchnext.png') no-repeat;
}
div.SearchNextButton:hover {
    float: left;
    background: url('../images/searchnext_h.png') no-repeat;
}
div.SearchNextButtonX {
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    height: 22px;
    width: 25px;
    border: 0px solid black;
    float: left;
    background: url('../images/searchnext_x.png') no-repeat;
}
div.SearchNextButtonX:hover {
    float: left;
    background: url('../images/searchnext_x.png') no-repeat;
}*/

div#advanced_search_button {
    margin-left: 6px;
    float: left !important;
}

.checkbox_selected {
    background:none repeat scroll 0 0 lightblue;
}

ol.SearchHit {
    display: block;
    padding-right: 5px;
    padding-left: 2.5em;
}

li.SearchHit {
    font-size: 1.0em;
    list-style: decimal;
    margin-bottom: 6px;
    padding: 2px;
    border: 0px;
    background-color: transparent;
    color: #222;
}

li.SearchHit:hover {
    background-color: #e5e5e9;
}

li.HighlightedResult {
    /*background-color: #D8DEE2;*/
    background-color: #eee;
}

a.SearchHit, a.SearchHit:link, a.SearchHit:visited, a.SearchHit:active {
    /*color: #2652A2;*/
    color: #009999;
    text-decoration: none;
}

a.SearchHit:hover{
    /*color: blue;*/
    color: #EC6602;
    text-decoration: underline;
}

#SearchMore {
    left: 2px;
    right: 2px;
    height: 26px;
    bottom: 2px;
    display: none;
    position: absolute;
    padding: 5px;
    min-width: 236px;
    border-top: 2px solid #BCD;
}

#AdvancedSearch {
    display: none;
    border-top: 2px solid white;
    margin-top: 5px;
    margin-bottom:5px;
    padding: 4px 2px 0 8px;
}

#ApplyFilterButton {
    /*display: block;*/
    margin-bottom: 4px;
}

#FilterResults {
    margin-left: 3px;
}

#SearchScopeSel {
    display: block;
}

#SearchScopeSel label {
    position: relative;
    top: -2px;
}

#ResultMessage {
    clear: both;
    height: 44px;
    border-top: 2px solid white;
    border-bottom: 2px solid #BCD;
    margin-top: 4px;
    overflow: hidden;
}

#ResultMessage p {
    margin: 4px;

}

#QSearchResults {
    position: absolute;
    bottom: 41px;
    /*top: 190px;*/
    top:160px;
    overflow:auto;
    /*background-color: #E8EEF2;*/
    background-color: #fff;
    /*width: 99%;*/
    border-top: 1px solid #A9BDC6;
}

.NoResults {
    padding: 10px;
    color: #555555;
}

span.subtopics {
    line-height: 2em;
    font-style: italic;
    color: #777;
}

span.cSHighlight {
    background-color:#FFFF00;
}

span.cSHighlightSynm {
    background-color:#33FF00;
}

span.cSHighlightDisabled {
    background-color:transparent;
}

span.cSHighlightSynmDisabled {
    background-color:transparent;
}

.green_highlight {
    background-color: #33FF00;
}

.yellow_highlight {
    background-color: #FFFF00;
}


/*** PDF Warning Popup ***/
/* popups */
.popup {
    display: none;
    position: fixed;
    _position: absolute;  /* IE6 hack */
    width: auto;
    margin-right: 100px;
    background: white;
    /*border: 2px solid #CECECE;*/
    border: 2px solid #e5e5e9;
    z-index: 2;
    padding: 0px 0px 3px 0px;
    font-size: 13px;
}

.popup h1 {
    text-align: left;
    /*color: #2658A6;*/
    color: #5E82A3;
    font-size: 18px;
    font-weight: bold;
    /*background-color: #E9EDF2;*/
    background-color: #e5e5e9;
    /*border-bottom: 1px solid #CCC;*/
    padding: 2px 8px;
    margin: 0;
}

.popupClose {
    position: absolute;
    top: 4px;
    right: 6px;
    display: block;
    width: 13px;
    height: 14px;
}

.popupClose:hover {
}

#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute;  /* IE6 hack */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 0;
}

#pdflinkPopup {
    position: absolute;
    top: 39%;
    right: 5%;
    left: 5%;
    display: none;
    height: 160px;
    min-width: 200px;
    max-width: 721px;
    margin: auto;
    z-index: 2;
}

#pdflinkPopup p {
    margin-left: 20px;
}

#pdflinkPopup label {
    padding-right: 10px;
}

#pdflink_noprompt {
    margin-left: 30px;
    margin-top: 16px;
    position: relative;
    top: 2px;
}

#pdflinkButtons {
    bottom:0px;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}
#sidebarTabs{
    background: #fff;
}
#pdflink_open_button, #pdflink_cancel_button{
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #e5e5e9;
    background: #EDEFF1;
    font-size: 14px;
    font-weight: bold;
    color: #009999 !important;
    cursor: pointer;
    font-family: Arial,Tahoma,Sans-serif;
    height: 25px;
}
