/*
===============================================
Copyright 2005-2017 Mentor Graphics Corporation

   All Rights Reserved.

THIS WORK CONTAINS TRADE SECRET
AND PROPRIETARY INFORMATION WHICH IS THE
PROPERTY OF MENTOR GRAPHICS
CORPORATION OR ITS LICENSORS AND IS
SUBJECT TO LICENSE TERMS.
===============================================
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: left;
    color: black;
    margin: 0px;
    padding: 0px;
}

body.header {
    margin: 0px;
    padding: 0px;
    background: #E8EEF2;
}

/* layout */
#header {
    position: absolute;
    top: 0;
    left: 26%;
    right: 0px;
    height: 102px;
    background-color: #e5e5e9;

}

#sidebar {
    top: 0px;
    position: absolute;
    /*bottom: 29px;*/
    bottom: 22px;
    width: 26%;
    min-width: 165px;
    max-width: 85%;
    overflow-y: auto;
    /*background-color: #E9EDF2;*/
    background: #fff;
}

#main {
    position: absolute;
    /*top:123px;*/
    left:26%;
    right: 0;
    /*bottom: 29px;
    background-color: white;*/
    top: 102px;
    bottom: 24px;
    background: #F3F3F3;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    /*height: 29px;
    background-color: #2658A6;*/
    height: 22px;
    background-color: #F3F3F3;
    border-top: 2px solid #A9BDC6;
}

/* common styles */
h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 2px;
    margin-bottom: 4px;
    margin-top: 11px;
    color: black;
}

a, a:link, a:visited, a:active {
    font-weight: bold;
    font-style: normal;
    background-color: Transparent;
    color: #009999;
    text-decoration: none;
}

a:hover, a.weblink:hover {
    text-decoration: underline;
    color: #EC6602;
}

a.weblink:hover {
    text-decoration: underline;
}

a.weblink, a.weblink:link {
    font-weight: bold;
    font-style: normal;
    background-color: Transparent;
    background: url('../graphics/exlink.gif') center right no-repeat;
    padding-right: 16px;
    color: #009999;
}

a.weblink:hover {
    color: #EC6602;
}

img {
    border: 0;
}

/* header */
#infohub_header_graphic_div {
    /* background: #EDEFF1 url('../graphics/siemens/siemens_banner.png') no-repeat; */
    vertical-align: top;
    width: 100%;
    padding: 10px 0px;
    height: 50px;
}

#infohub_header_graphic_div table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    height: 100%;
}

#infohub_header_graphic_div table td {
    padding: 0;
}

#InfoHub_title {
    width: auto;
    float: left;
    padding-top:14px;
    padding-left: 7px;
    min-width: 175px;
}

p.title {
    font-size: 20px;
    font-weight: bold;
    color: #009999;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left
}

p.supportLine {
    font-size: 11px;
    font-weight: bold;
    color: #009999;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left

}

#search {
    display: none;
}

.searchtips {
    font-size: 8px;
    float: right;
    margin-top: 3px;
}

.searchtips a,
.searchtips a:link,
.searchtips a:visited,
 {
    /*color: white;*/
    color: #009999;
    font-size: 10px;
    text-decoration: underline;
}

.searchtips a:hover {
    color: #EC6602;
}

#icon-replacement {
    height: 26px;
    width: 28px;
    margin-right:2px;
    _margin-right:0px;
    margin-top:3px;
    padding-right:5px;
    _padding-right:0px;
    padding-top:0px;
    display:none;
}

#text-replacement {
    height: 19px;
    width: 200px;
    margin-top: 8px;
    margin-left: 25px;
    color: black;
    font-family: Arial, Sans-serif;
    font-size: 11px;
    float: left !important;
    display: none;
}

#icon-div {
    float: right !important;
    /*width: 37px;*/
    width: 27px;
    padding-left: 0px;
}

#spinnerimg {
    width:29px;
    height:29px;
    padding-left:4px;
}

#search_box_td {
    /*width: 360px;*/
    width: 500px;
}

#search_box_container {
    text-align: center;
    clear: both;
    padding-right: 2px;
    margin-right: 10px;
}

#search_box_container table {
    float: right;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

#search_box_container table td {
    padding: 0;
}

.search_box {
    height: 25px;
    width: 500px;
    padding-left:0px;
    text-decoration: none;
    float:right;
    color: #333;
    border: 1px solid #676769;
}

#query {
    font-family: Arial, sans-serif;
    font-size: 12px;
    border-width: 0px;
    padding: 0px 5px;
    min-width: 500px;
    min-height: 25px;
    max-width: 500px;
    max-height: 25px;
    float: left;
    color: #6D6D6D;
    overflow: hidden !important;
    resize: none;
    line-height: 25px;
    outline: none;
}

input.search_btn {
    background: #EDEFF1 url('../graphics/siemens/search.png') no-repeat center;
    border: 1px solid #767e88;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 3px #949EAA;
    height: 27px;
    width: 27px;
}
input.search_btn:hover{
    border-color: #EC6602;
    box-shadow: inset 0 0 5px #949EAA;
}

#search_list {
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    float:left;
    margin: 0;
    color: #009999;
}

#search_list_container {
    position: relative;
    top: -2px;
}

#search_list_container input {
    position: relative;
    top: 2px;
}

/* tabs */
#IHTabPane{
    /*background-color: white;*/
    overflow-y: auto;
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0;
    left:0px;
    right: 0px;
    background: #F3F3F3;
}

#tabs {
    min-width: 564px;
}

#tabs td {
    vertical-align:top;
}

#tabs table {
    width:100%;
    overflow: hidden;
    *margin-bottom:-3px;  /* IE7 hack */
    *margin-left: -2px;   /* IE7 hack */
}

tr.tabs {
    vertical-align: top;
    width: 100%;
    height: 33px;
}

td.tabs {
    width: 100%;
}

#tabs_td {
    min-width: 480px;
}

td.fg_tab {
    border: 0px;
    vertical-align: middle;
    width: 102px;
    height: 34px;
}

ul.tabs {
    list-style-type: none;
    margin-top: 3px;
    padding: 0;
    margin-bottom: 0px;
    margin-left: -5px;
    margin-top: -2px;
}

a.fg_tab, a.fg_tab:link, a.fg_tab:visited, a.fg_tab:active, a.fg_tab:hover, a.bg_tab, a.bg_tab:link, a.bg_tab:visited{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: none;
    padding: 5px 14px 0px 14px;
    border: 1px solid #767e88;
    border-bottom: none;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    margin: 5px 0px 0px 5px;
}

a.fg_tab, a.fg_tab:link, a.fg_tab:visited, a.fg_tab:active, a.fg_tab:hover {
    cursor: default;
    color: #039999;
    background: #F3F3F3;
}

span.fg_tab {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

td.bg_tab {
    border: 0px;
    vertical-align: middle;
    width: 102px;
}

a.bg_tab, a.bg_tab:link, a.bg_tab:visited, a.bg_tab:active, a.bg_tab:hover {
    cursor: pointer;
    color: #000;
    background: #A9BDC6;
}

a.bg_tab:hover {
    color: #EC6602;
    text-decoration: none;
}

span.bg_tab {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

li.fg_tab,
li.bg_tab {
    display: inline;
    list-style-type: none;
    margin-right: -5px;
    float: left;
    *margin-right: -1px;  /* IE7 hack */
}

#resize_button {
    border: 1px solid #ddd;
    float: right;
    background-color: white;
    margin-top: 7px;
    margin-right: 7px;
    padding: 0 2px 0 6px;
    width: 114px;
}

#resize_button a {
    background: #fff;
    display: block;
    float: left;
}

#resize_button a:hover {
    background:#eee;
}

#resize_button img {
    border:none;
    float:left;
}

/* sidebar */
.sidebar_head {
    display: block;
    overflow: hidden;
}

.sidebar_head2 {
    padding: 0px;
    display: block;
    background: #e5e5e9;
}

#mentor_logo {
    text-align: center;
    /*padding-top: 7px;*/
}

.mentor_img {
    height: 70px;
    width: 156px;
    display: block;
    margin: auto;
    background: url('../graphics/siemens/sie-logo-petrol-rgb.png') no-repeat center;
    background-size: contain;
}

.scope_label {
    font-family: Arial, sans-serif;
    /*font-size: 11px;*/
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    /*color: black;*/
    color: #009999;
    margin: 0px;
    padding-left: 15px;
    display: block;
    vertical-align: bottom;
    padding: 8px 0px 8px 15px;
}

.scope {
    margin-right: 3px;
}

.scope_link, .scope_link:link, .scope_link:visited, .scope_link:hover, .scope_link_active, .scope_link_active:link, .scope_link_active:hover, .scope_link_active:visited{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
    text-decoration: none;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

.scope_link, .scope_link:link, .scope_link:visited {
    border: 1px solid #ddd;
    border-top-color: #0000;
    cursor: pointer;
    color: #333;
}

.scope_link:hover {
    color: #039999;
    box-shadow: inset -1px -1px 5px 0px #ddd;
    border-color: #039999;
}

.scope_link_active, .scope_link_active:link, .scope_link_active:hover, .scope_link_active:visited {
    color: #039999;
    border: 1px solid #039999;
    cursor: default;
    box-shadow: inset -1px -1px 5px 0px #ddd;
}

#dragbar {
    /*background-color: #A8AEB2;*/
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom:0;
    right: 0;
    width: 1px;
    cursor: col-resize;
    border-left: 1px solid #A9BDC6;
    border-right: 1px solid #A9BDC6;
}


/* footer */
#footer table {
    /*background-image: url('../graphics/mgc_infohub_footer.gif');*/
    width: 100%;
    height: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.copyrightFooter {
    font-size: 10px;
    color: white;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
}

.bottomlinks,
.bottomlinks a:link,
.bottomlinks a:visited {
    /*color: white;*/
    color: #009999;
    font-weight: normal;
    margin: 0px 5px;
}

.bottomlinks a:hover, .bottomlinks a:active{
    color: #EC6602;
}

td.bottomlinks {
    text-align: left;
    padding-top: 0px;
    line-height: 12px;
    /*padding-left: 7px;*/
    min-width: 420px;
    /*font-size: 1em;*/
    font-size: 11px;
}

.productList {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    border-top: 1px solid #CCC;
    padding: 5px 2px;
    margin-top: 15px;
}

#copyrightTD {
    width: 16em;  /*firefox only?*/
}

#copyrightTD div {
    float: left;
    width: 210px;
}

/* content */
ul.listbull {
    padding: 0;
    padding-left: 14px;
    margin: 0;
}

p.listbull {
    text-align:left;
    font-weight:bold;
    font-style:normal;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:2px;
    color: black;
    list-style:disc;
}

li.listbull {
    text-align:left;
    font-weight:bold;
    font-style:normal;
    color: black;
    list-style:disc;
    margin-bottom: 8px;
}

.textbull{
    font-weight: 100;
}

select {
    display: block;
    font-size: 10px;
}

select.doclist {
    font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
    font-weight: normal;
    width: 550px;
    outline: none;
    background: #fff;
}

select option:hover, 
select option:focus, 
select option:active,
select option:checked {
    background: linear-gradient(#009999,#009999);
    background-color: #009999 !important;
}

select.doclist_indent {
    font-family: Arial, Helvetica, Sans-serif;
	font-size: 12px;
    font-weight: normal;
    width: 550px;
}

select.doclist option.pdfonly {
    /* background: url('../graphics/pdfonly.gif') center right no-repeat; */
    padding-right: 14px;
    margin-right: 2px;
}

select.doclist option.htmlonly {
    /* background: url('../graphics/htmlonly.gif') center right no-repeat; */
    padding-right: 14px;
    margin-right: 2px;
}

td.doclist_title {
    padding: 0px 2px 6px 2px;
}

td.doclist {
    padding: 0px 5px 4px 25px;
    width: auto;
}

td.doclist_spacer {
    height: 10px;
}

td.doclist_html {
    padding: 0px;
    margin: 0px;
    width: auto;
}

#tabTable {
    margin: 0 12px 12px;
    padding: 0px;
    padding:3px 15px 0 0;
}

.bold {
    font-weight: bold;
}

p.H1BodyText {
    margin: 10px 20px 0px 22px;
    font-weight:normal;
    font-style:normal;
}

p.H2BodyText {
    margin: 2px 20px 6px 2px;
    font-weight:normal;
    font-style:normal;
}

#button_container_div {
    height: 25px;
    padding-top: 2px;
}

/* search */
#loading {
    padding: 12px 6px;
}

#SearchTitle {
    font-weight:bold;
    font-size: 18px;
    color: #039999;
    width: auto;
    float: left !important;
    margin-top: 3px;
}

.SearchResults {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.SearchResults thead tr {
    background-color: #F3F3F3;
}

.SearchResults thead td {
    padding: 2px 8px;
}

.SearchResults tbody tr {
    background-color: white;
}

.SearchResults tbody tr:hover {
    background-color: #F3F3F3;
}

.SearchResults tbody td {
    border-top: 1px solid #CCC;
}

.SearchResults tfoot tr {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #E9EDF2;
}

.SearchResults tfoot td {
    padding: 6px 8px;
}

.pager {
    font-weight: bold;
    font-style: normal;
    color: #666;
    text-align: right;
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

td.SearchNumber {
    width: 20px;
    vertical-align: top;
    text-align: right;
    padding: 9px 0 9px 8px;
}

.pSearchResult {
    margin: 7px;
}

.pSearchTopic {
    margin: 2px 0;
}

.pSearchSource {
    color: #999;
    margin: 2px 0;
}

.pSearchTitle {
    font-style: italic;
    color: #888;
}

.pSearchSnippet {
    color: #444;
    margin: 2px 0;
}

.pNoResults {
    font-weight: bold;
    margin-bottom: 1.6em;
}

span.subtopics {
    line-height: 2em;
    font-style: italic;
    color: #999;
}

.suggestions {
    margin: 20px 20px 30px 20px;
    color: #555;
}

.suggestions li {
    line-height: 1.6em;
}

.back_arrow {
    display: inline !important;
    margin-top: 2px;
}

.next_arrow {
    display: inline !important;
    margin-top: 2px;
    padding-left: 3px;
}

.green_highlight {
    background-color: LawnGreen;
    font-weight: bold;
}

.yellow_highlight {
    background-color: yellow;
    font-weight: bold;
}

.checkbox_selected {
    background: none repeat scroll 0 0 lightblue;
}

#advanced_search_button,
#search_tips {
    float: right !important;
}

#refine_search_button {
    float: right !important;
}

#results_right {
    font-size: 12px;
    text-align: right;
    float: right;
    margin-right: 8px;
    margin-left: 24px;
}

.ResultsLabel {
    font-weight: bold;
}

#current_results_counter {
    font-weight: bold;
}

#advanced_search {
    margin-left: 8px;
    margin-bottom: 8px;
}

#search_filter_title {
    margin-bottom: 2px;
    font-weight: bold;
    color: #222;
}

#search_filter_div {
    display: block;
    margin-left: 8px;
    color: #444;
}

input.search_filter {
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.topic_result_ul {
    margin-top: 0;
}

.topic_result_ul a {
    font-weight: normal !important;
}

#advanced_search_button,
#search_tips,
#refine_search_button,
.textButtons {
    color:#009999;
    cursor:pointer;
    font-weight:bold;
    font-size: 12px !important;
    border: 1px solid #767e88;
    background: #edeff1;
    border-radius: 5px;
    padding: 3px 5px;
    box-shadow: 1px 1px 3px #949eaa;
    margin: 3px 5px 0px 0px;
}

.textButtonsCentered {
    display: inline;
    padding: 3px 5px !important;
    _padding: 1px 5px 4px 4px;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #949EAA;
    background: #EDEFF1;
    font-size: 14px;
    font-weight: bold;
    color: #009999;
    cursor: pointer;
    line-height: 30px;    
}

#search_tips:hover,
#search_tips a:hover,
#advanced_search_button:hover,
#refine_search_button:hover,
.textButtons:hover,
.textButtonsCentered:hover {
    border-color: #009999;
    box-shadow: inset 0 0 5px #949EAA;
    text-decoration: none;
}

#search_tips:active,
#advanced_search_button:active,
#refine_search_button:active,
#refine_search_button.disabled,
.textButtons:active,
.textButtons.disabled,
.textButtonsCentered:active,
.textButtonsCentered.disabled {
    cursor: default;
    border-color: #767e88;
    box-shadow: 1px 1px 3px #949eaa;
}

#search_tips:active span,
#advanced_search_button:active span,
#refine_search_button:active span,
#refine_search_button.disabled span,
.textButtons:active span,
.textButtons.disabled span,
.textButtonsCentered:active span,
.textButtonsCentered.disabled span {
    color: #949eaa !important;
}

.textButtons.disabled span,
.textButtonsCentered.disabled span {
    cursor: default;
}

.textButtons span:hover {
    color: #EC6602;
}

#search_tips.selected,
#advanced_search_button.selected {
    background-position: 0 -44px !important;
}

#search_tips.selected span,
#advanced_search_button.selected span {
    background-position: 100% -44px !important;
    color: black !important;
}

/* popups */
.popup {
    display: none;
    position: fixed;
    _position: absolute;  /* IE6 hack */
    width: auto;
    margin-right: 100px;
    background: white;
    border: 2px solid #A9BDC6;
    z-index: 2;
    padding: 0px 0px 3px 0px;
    font-size: 13px;
}

.popup h1 {
    text-align: left;
    color: #039999;;
    font-size: 18px;
    font-weight: bold;
    background-color: #F3F3F3;
    border-bottom: 1px solid #A9BDC6;
    padding: 2px 8px;
    margin: 0;
    border-radius: 5px;
}

.popupClose {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDEFF1 url('../graphics/siemens/red_x_transparent.gif') center no-repeat;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #949EAA;
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    margin: 3px 5px;
}

.popupClose:hover {
    background: url('../graphics/siemens/icon_close.png') center no-repeat;
    border-color: #009999;
}

#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute;  /* IE6 hack */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: black;
    z-index: 0;
}

#mydocsPopup {
    position: absolute;
    top: 24%;
    right: 5%;
    bottom: 24%;
    left: 5%;
    display: none;
    max-width: 870px;
    min-width: 515px;
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

#mydocsPopup table {
    padding: 0px 12px 0px 12px;
}

#prefsPopup {
    position: absolute;
    top: 39%;
    right: 5%;
    left: 5%;
    display: none;
    height: 110px;
    min-width: 200px;
    max-width: 721px;
    margin: auto;
    z-index: 2;
}

#prefsPopup label {
    padding-right: 10px;
}

#pref_promptclose {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
    top: 2px;
}

#prefsButtons {
    bottom:0px;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#pdflinkPopup {
    position: absolute;
    top: 39%;
    right: 5%;
    left: 5%;
    display: none;
    height: 160px;
    min-width: 200px;
    max-width: 721px;
    margin: auto;
    z-index: 2;
    font-size: 13px;
    border-radius: 5px;
}

#pdflinkPopup p {
    margin-left: 20px;
    font-size: 13px;
}

#pdflinkPopup label {
    padding-right: 10px;
}

#pdflink_noprompt {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
    top: 2px;
}

#pdflinkButtons {
    bottom:0px;
    height: 32px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.left_justify {
    float: left !important
}

#mydocmoveright, #mydocmoveleft {
    float:left;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #767e88;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #949EAA;
    background: #EDEFF1;
    font-size: 14px;
    font-weight: bold;
    color: #EC6602;
    cursor: pointer;
    margin: 3px 0px;
}
#mydocmoveright:hover, #mydocmoveleft:hover{
    border-color: #EC6602;
    box-shadow: inset 0 0 5px #949EAA;
    text-decoration: none !important;
}
#mydocmoveright:active, #mydocmoveleft:active, input.search_btn:active{
    box-shadow: inset 1px 1px 3px #949EAA;
}
#mydocmoveright.disabled, #mydocmoveleft.disabled{
    color: #949EAA;
}
#mydocmoveright:focus, #mydocmoveleft:focus, input.search_btn:focus{
    outline: 0px;
}

.notice {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #009999;
    color: #333;
    margin-bottom: 1em;
    padding: 0.4em 0.8em;
    display: block;
    visibility: visible;
    margin: 10px;
    border-radius: 5px;
}

#hidecustomtab_box {
    border: 1px solid #009999;
    max-width: 403px;
    margin-left: 29px;
    padding-left: 8px;
    background: #fff;
    border-radius: 5px;
}

#hidecustomtab {
    text-align: center;
    margin: auto;
    width: 123px;
}
