/*
===============================================
Copyright 2007-2012 Mentor Graphics Corporation

   All Rights Reserved.

THIS WORK CONTAINS TRADE SECRET
AND PROPRIETARY INFORMATION WHICH IS THE
PROPERTY OF MENTOR GRAPHICS
CORPORATION OR ITS LICENSORS AND IS
SUBJECT TO LICENSE TERMS.
===============================================
*/

html, body {
	font-size: 10px;
}

p, a, a:link, a:visited, a:active, a:hover {
	font-size: 10px;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 12px;
}

h3 {
	font-size: 10px;
}

a.fg_tab, a.fg_tab:link, a.fg_tab:visited, a.fg_tab:active, a.fg_tab:hover,
a.bg_tab, a.bg_tab:link, a.bg_tab:visited, a.bg_tab:active, a.bg_tab:hover {
	font-size: 10px;
}

.scope_link, .scope_link:link, .scope_link:visited, .scope_link:hover,
.scope_link_active, .scope_link_active:link, .scope_link_active:visited,
.scope_link_active:hover, .search_results {
	font-size: 10px;
}

.productList {
	font-size: 10px;
}

select.doclist, select.doclist_indent {
	font-size: 10px;
}
